/* --> Mobile First <-- */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Arial, Times New Roman, Calibri;
}

h1 {
  font-weight: 100;
  font-size: 18px;
}

h2 {
  font-weight: 100;
  font-size: 16px;
}

h3 {
  font-size: 18;
  font-weight: 100;
}

h4 {
  font-size: 17;
  font-weight: 100;
}

.buttonText {
  margin-left: 10px;
  font-family: Verdana, Arial, Times New Roman, tahoma, calibri;
  font-size: 16px;
  font-weight: 700;
}

.iconButton {
  border: 2px solid transparent;
  outline: none;
  background: none;
  color: #0D3A5B;
}

.iconButton:hover {
  color: #221DFA;
}

.iconButton:active {
  border: 2px solid #221DFA;
}

.iconButton:focus {
  border: 2px solid #221DFA;
}

.breadcrumbs {
  margin-left: 20px;
  margin-bottom: 10px;
  border-bottom: 4px solid #0D3A5B;
}

/* --> Media Query <-- */

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Times New Roman, Calibri;
  }
  
  h1 {
    font-weight: 100;
    font-size: 32px;
  }
  
  h2 {
    font-weight: 100;
    font-size: 24px;
  }
  
  h3 {
    font-size: 18;
    font-weight: 100;
  }
  
  h4 {
    font-size: 17;
    font-weight: 100;
  }
  
  .buttonText {
    margin-left: 10px;
    font-family: Verdana, Arial, Times New Roman, tahoma, calibri;
    font-size: 16px;
    font-weight: 700;
  }
  
  .iconButton {
    border: 2px solid transparent;
    outline: none;
    background: none;
    color: #0D3A5B;
  }
  
  .iconButton:hover {
    color: #221DFA;
  }
  
  .iconButton:active {
    border: 2px solid #221DFA;
    background-color: #FFFF00;
  }
  
  .iconButton:focus {
    border: 2px solid #221DFA;
    background-color: #FFFF00   ;
  }

  .breadcrumbs {
    margin-left: 20px;
    margin-bottom: 10px;
    border-bottom: 4px solid #0D3A5B;
    font-size: 24px;
  }
}